body{
    margin:0;
    font-family: "Roboto", sans-serif;
}
#nav-area{
    background-color:#6247ea;
}
#nav .home-anchor{
    text-decoration: none;
    color:white;
}
#nav{
    display:flex;
    align-items:center;
    gap:5px;
}
#title h2{
    font-size:36px;
    color:white;
    margin:0;
}
#nav-area-inner{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:133px 0;
    justify-content: center;
}
#main-area-title{
    text-align: center;
}
#main-area-title h2{
    font-size:36px;
}
#main-area-title p{
    color: #777777;
    opacity:1;
    font-size:14px;
    font-weight: 300;
}
.service p{
    color: #777777;
    opacity: 1;
}
.service h3{
    font-weight: 400;
}
.service{
    border:0.1px solid #d6d6d6;
    width:282px;
    border-radius:10px;
    padding:30px;
    box-sizing: border-box;
}
.service:hover{
    box-shadow: 11px 11px 24px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 11px 11px 24px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 11px 24px -4px rgba(0,0,0,0.75);
}
#first-service-row{
    display:flex;
    gap:30px;
}
#second-service-row{
    display:flex;
    gap:30px;
}
#services-inner{
    display:flex;
    flex-direction: column;
    gap:30px;
}
#services{
    display:flex;
    justify-content: center;
    margin:80px 0;
}
#consultation-title h2,#consultation-title p{
    font-family: "Roboto", sans-serif;
}
#consultation-title h2{
    font-weight: 500;
    color:white;
}
#consultation-area{
    background-color:#ec9d5f;
}
#consultation-title p{
    opacity:0.6;
}
#consultation-title{
    text-align: center;
    padding-top:30px;
}

#consultation-btn{
    padding:20px 40px;
    font-family: "Roboto", sans-serif;
    border:0;
    margin:40px 0;
    font-weight: 500;
}
#consultation-btn a{
    text-decoration: none;
    color:black
}
#consultation-btn:hover{
    background-color: #6610f2;
    color:white;
    transition: all 0.3s ease-in-out;
    cursor:pointer;
}

#consultation-area{
    display:flex;
    flex-direction:column;
    align-items: center;
}
#footer{
    background-color:#04091e;
}

#newsletter h2{
    color:white;
    font-family: "Roboto", sans-serif;
}
#newsletter p{
    color:#777777;
    font-family: "Roboto", sans-serif;
    font-size:15px;
}
#email-inpt{
    width:300px;
    border-radius: 30px;
    border:0;
    box-sizing: border-box;
    font-size: 16px;
    padding-left:20px;
}
#submit-btn{
    padding:15px 30px;
    background-color:#6247ea;
    border:1px solid #04091e;
    color:white;
    border-radius:30px;
}
#submit-btn:hover{
    background-color: #04091e;
    border:1px solid #6247ea; 
    cursor:pointer;
    transition: all 0.3s ease-in-out;
}
#top-products h3, #top-products p{
    color:white;
    font-family: "Roboto", sans-serif;
}
#top-products p{
    font-size:14px;
}
#top-products h3{
    margin-bottom:25px;
}
form div{
    display:flex;
    gap:10px;
}
#footer-wrapper{
    margin:100px;
    display:flex;
    gap:150px;
}
#footer{
    display:flex;
    flex-direction:column;
    align-items: center;
}

#first-image-row, #second-image-row{
    display:flex;
    gap:10px;
}
#insta-images-wrapper{
    display:flex;
    flex-direction: column;
    gap:10px;
}
#insta-feed-title h2{
    color:white;
    font-family: "Roboto", sans-serif;
}
#footer-bottom-paragraph{
    color:#777777;
    opacity:0.8;
    padding:0;
    margin:0;
    font-family: "Roboto", sans-serif;
}
#social-media a{
    color:white;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    background-color:#1e2235;
    border:0;
    padding:10px;
}
#social-media{
    display:flex;
    gap:10px;
}
#footer-bottom{
    display:flex;
    gap:560px;
    align-items: center;
}